
table.report
{
border-collapse: collapse;
empty-cells: show;
    border-color: black;
    border-width: 0 0 1px 1px;
    border-style: solid;
}

table.report td, th
{
    border-color: black;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: 4px;
}

